<h1>Portoflio</h1>
<div id="portfolio">
  <div id="card">
    <figure>
      <img src=./img/corgi.jpg>
      <figcaption>Corgi</figcaption>
    </figure>
  </div>
  <div id="card">
    <figure>
      <img src=./img/border-collie.jpg>
      <figcaption>Border Collie</figcaption>
    </figure>
  </div>
  <div id="card">
    <figure>
      <img src=./img/pug.jpg>
      <figcaption>Pug</figcaption>
    </figure>
  </div>
  <div id="card">
    <figure>
      <img src=./img/lab-retreiver.jpg>
      <figcaption>Labrador Retriever</figcaption>
    </figure>
  </div>
  <div id="card">
    <figure>
      <img src=./img/welsh-sheepdog.jpg>
      <figcaption>Welsh Sheepdog</figcaption>
    </figure>
  </div>
  <div id="card">
    <figure>
      <img src=./img/jr-terrier.jpg>
      <figcaption>Jack Russell Terrier</figcaption>
    </figure>
  </div>
</div>
